# Exploratory analysis with Pandas of Taxi dataset
Dataset and explanation can be found here: https://www.kaggle.com/crailtap/taxi-trajectory/home
1.7million records
1 record = 1 Trip
Timestamp is for trip start
Each position is in 15sec gaps and datetimestamp pairs could be created from trips with full data

In [2]:
import pandas as pd
import ast

In [3]:
#import data
df = pd.read_csv('train.csv')

In [4]:
#first few lines
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [6]:
#dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710670 entries, 0 to 1710669
Data columns (total 9 columns):
TRIP_ID         int64
CALL_TYPE       object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID         int64
TIMESTAMP       int64
DAY_TYPE        object
MISSING_DATA    bool
POLYLINE        object
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 106.0+ MB

### Changes to make
* ORIGIN_CALL to int
* TIMESTAMP to datetime
* Remove data that has missing coordinates in POLYLINE based on MISSING_DATA field

In [7]:
#10 of the 1.7 million records have incomplete GPS
df[df['MISSING_DATA']==True].shape

(10, 9)

In [29]:
df['CALL_TYPE'].value_counts() #‘A’ trip dispatched from central; ‘B’ trip taxi driver on a specific stand; ‘C’ otherwise (i.e. a trip demanded on a random street)

B    817881
C    528019
A    364770
Name: CALL_TYPE, dtype: int64

In [30]:
df['ORIGIN_CALL'].value_counts() #unique IDs of callers caller 2002 had the most trips of 57105 callers

2002.0     57571
63882.0     6406
2001.0      2499
13168.0     1314
6728.0      1115
5591.0      1051
14123.0      990
6654.0       909
2024.0       800
14045.0      769
3710.0       648
8939.0       559
12897.0      556
9682.0       534
4619.0       526
6584.0       516
4784.0       433
3711.0       413
9151.0       410
11763.0      409
29682.0      394
37007.0      386
15097.0      381
4609.0       365
16414.0      362
5182.0       355
13009.0      340
5239.0       339
2747.0       323
5602.0       314
           ...
41611.0        1
41610.0        1
41607.0        1
41603.0        1
41601.0        1
41600.0        1
41598.0        1
41597.0        1
41593.0        1
41591.0        1
2599.0         1
41629.0        1
41630.0        1
41632.0        1
41652.0        1
2604.0         1
41663.0        1
41662.0        1
41657.0        1
41656.0        1
41653.0        1
41650.0        1
41633.0        1
2603.0         1
41644.0        1
41640.0        1
41639.0        1
41637.0        1
41634.0        1
8192.0         1
Name: ORIGIN_CALL, Length: 57105, dtype: int64

In [31]:
df['ORIGIN_STAND'].value_counts() #stand 15 was the most popular of the 63 stands

15.0    80241
57.0    50882
9.0     34818
33.0    34128
23.0    33344
18.0    32937
53.0    31712
13.0    25685
12.0    25434
36.0    24754
34.0    20277
10.0    18627
7.0     18557
25.0    18461
14.0    18189
61.0    17202
27.0    17035
6.0     16639
21.0    16471
60.0    16235
56.0    14683
28.0    14596
38.0    13580
52.0    13170
40.0    12215
35.0    12071
58.0    11978
42.0    11787
54.0     9766
26.0     8530
        ...
30.0     8018
32.0     7917
37.0     7890
51.0     7869
16.0     7828
11.0     7634
24.0     7066
47.0     6464
55.0     5045
17.0     4685
19.0     4654
1.0      4518
3.0      3559
31.0     3055
59.0     2923
50.0     2762
22.0     2183
62.0     2125
45.0     2080
29.0     1690
39.0     1464
46.0     1315
44.0     1227
2.0      1191
4.0      1153
41.0      506
43.0      493
8.0       381
5.0        53
48.0        7
Name: ORIGIN_STAND, Length: 63, dtype: int64

In [22]:
df['TAXI_ID'].nunique() #448 Taxis

448

In [26]:
df['TAXI_ID'].value_counts().head(10) #Taxi 20000080 had the most trips

20000080    10746
20000403     9238
20000066     8449
20000364     7821
20000483     7729
20000129     7609
20000307     7498
20000621     7276
20000089     7267
20000424     7176
Name: TAXI_ID, dtype: int64

In [32]:
df['DAY_TYPE'].value_counts() #all on days that were not holidays

A    1710670
Name: DAY_TYPE, dtype: int64

In [33]:
df['MISSING_DATA'].value_counts()

False    1710660
True          10
Name: MISSING_DATA, dtype: int64

In [42]:
df.loc[0,'POLYLINE'] #display the coordinates as a string

'[[-8.618643,41.141412],[-8.618499,41.141376],[-8.620326,41.14251],[-8.622153,41.143815],[-8.623953,41.144373],[-8.62668,41.144778],[-8.627373,41.144697],[-8.630226,41.14521],[-8.632746,41.14692],[-8.631738,41.148225],[-8.629938,41.150385],[-8.62911,41.151213],[-8.629128,41.15124],[-8.628786,41.152203],[-8.628687,41.152374],[-8.628759,41.152518],[-8.630838,41.15268],[-8.632323,41.153022],[-8.631144,41.154489],[-8.630829,41.154507],[-8.630829,41.154516],[-8.630829,41.154498],[-8.630838,41.154489]]'

In [47]:
len(ast.literal_eval(df.loc[0,'POLYLINE'])) #length of the list containing coordinates

23

In [48]:
(len(ast.literal_eval(df.loc[0,'POLYLINE']))-1)*15 #length in seconds for a complete trip

330

In [49]:
df['POLYLINE'].apply(lambda x: len(ast.literal_eval(x))).value_counts() #took maybe 10mins. Not what I wanted.

0           23
1           19
2           65
3           43
4           29
5           26
6           36
7           34
8           38
9           19
10          22
11          44
12          32
13          34
14          28
15          64
16          65
17          19
18          17
19           9
20          15
21          43
22          35
23          20
24          26
25           8
26          57
27          29
28          18
29          11
          ...
1710640     30
1710641    135
1710642     51
1710643      0
1710644     31
1710645    131
1710646     30
1710647     36
1710648      4
1710649     29
1710650     34
1710651     42
1710652     88
1710653     13
1710654     40
1710655    114
1710656     17
1710657      1
1710658      0
1710659     54
1710660      1
1710661     33
1710662     71
1710663    194
1710664      0
1710665     32
1710666     30
1710667      0
1710668     62
1710669     27
Name: POLYLINE, Length: 1710670, dtype: int64

In [51]:
df['POLYLINE'].apply(lambda x: (len(ast.literal_eval(x)))).value_counts().head() #incorrect longest trips in counts of coordinate pairs

35    33051
33    32822
34    32779
32    32635
31    32498
Name: POLYLINE, dtype: int64

In [54]:
len(ast.literal_eval(df.loc[35,'POLYLINE'])) #length of the list containing coordinates proves above wrong

41

In [63]:
df['POLYLINE'].apply(lambda x: len(ast.literal_eval(x))).value_counts().head()

35    33051
33    32822
34    32779
32    32635
31    32498
Name: POLYLINE, dtype: int64